<div class="center clearfix">

	<h2 class="heading">Search</h2>

	<form method="post" action="/search" class="form-search">
		<input class="input input-search" type="text" name="name" />
		<input class="input input-submit input-search" type="submit" />
	</form>

	<div class="separator">
		<hr />
		<span class="separator-content center">OR</span>
	</div>

	<h2 class="heading">Create</h2>

	<a href="" title="Sign in with Twitter" class="social-signin social-signin--twitter"></a>
	<a href="" title="Sign in with Twitter" class="social-signin social-signin--facebook"></a>
	<a href="" title="Sign in with Twitter" class="social-signin social-signin--linkedin"></a>

</div>
