<div class="center clearfix">

	<h2 class="heading">Search</h2>

	<form method="post" action="" class="form-search">
		<input class="input input-search" type="text" />
		<input class="input input-submit input-search" type="submit" />
	</form>

	<div class="separator">
		<hr />
		<span class="separator-content center">OR</span>
	</div>

	<h2 class="heading">Create</h2>

	<a href=""title="Sign in with Twitter">
		<img src="/images/twitter.png" title="Sign in with Twitter" />
	</a>

</div>
